body {
    margin: 0;
    background: #F2F2F2;
    font-family: futura;
    font-size: 60px;
    color: #333333;
}

/* Removes Scrollbar, keep?
body::-webkit-scrollbar{
    display: none;
  } */

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

/* Home Page */
.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 8px -9px rgb(203, 203, 203);
}

.header img {
    max-height: 100px;
    margin: 0 10px;
}

.header-text {
    color: #1A1A1A;
    font-family: cursive;
}

.welcome {
    text-align: center;
    margin: 20px;
}



/* @media only screen and (min-width: 992px) {
    .main-dishes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }
} */

/* TODO LOOK AT THIS FOR SCREEN SIZE ADJUSTING */
/* @media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .main-dishes {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
  } */

.main-dishes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    /* margin-top: 20px; */
    margin: 20px 50px 0 50px;
}

.main-dishes a {
    background: lightblue;
    height: 500px;
    width: 333px;
    border-radius: 5px;
}

.main-dishes a img{
    background: lightblue;
    height: 100%;
    max-width: 333px;
    width: auto;
    border-radius: 5px;
}

.meals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 40px 50px 0 50px;
}

.meal {
    text-align: center;
    background: #B6CEB2;
    height: 100px;
    width: 250px;
    font-size: 40px;
    border-radius: 20px;
}

.meal p {
    margin: 23px 0;
    color: #333333;
}

.main-names {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main-names div {
    width: 333px;
    text-align: center;
    font-size: 30px;
    /* margin-top: -10px; */
    letter-spacing: 2px;
    /* background: #F2F2F2; */
}

.about-me {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 40px 50px 0 50px;
}

.about-me-img {
    width: auto;
    height: 500px;
}

.about-me-desc {
    font-size: 30px;
    max-width: 500px;
}

.footer {
    margin: 40px 0 0 0;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    background: #B6CEB2;
}

.footer p {
    margin: 0;
    font-size: 30px;
    color: #333333;
}
/* Home Page */

/* Meals Page */
.meal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.meal-header img {
    max-height: 100px;
    margin: 0 10px;
}

.meal-header p{
    font-family: Stencil Std, fantasy;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 20px 0;
}

.recipe-card {
    height: 500px;
    width: 333px;
    object-fit: cover;
    background: red;
}
/* Meals Page */


/* Recipe Page */
.recipe-about {
    display: flex;
    justify-content: center;
    margin: 0 15%;
}

.recipe-text {
    margin-left: 30px;
    max-height: 500px;
}

.recipe-title {
    font-size: 80px;
    margin: 60px 0 0 0;
}

.recipe-desc {
    font-size: 2vw;
    line-height: 1.5;
}

.recipe-img {
    height: 550px;
    margin: 60px 0 0 0;
    border-radius: 5px;
}

.instructions-title {
    text-align: center;
    margin: 30px 0 0 0;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.instructions-text {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 40px;
}

.directions {
    max-width: 850px;
    text-align: left;
}

.directions-list {
    font-size: 30px;
}

.instructions-h2 {
    margin: 0;
    font-size: 50px;
}

.ingredients-list {
    font-size: 30px;
}

.credits {
    font-size: 40px;
    /* color: #a9a9a9; */
    text-align: center;
}

/* Recipe Page */

