body {
    margin: 0;
    background: #F2F2F2;
    font-family: futura;
    font-size: 60px;
}

/* Removes Scrollbar, keep? */
body::-webkit-scrollbar{
    display: none;
  }

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

/* Home Page */
.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1A1A1A;
}

.header img {
    max-height: 100px;
    margin: 0 10px;
}

.header-text {
    font-family: cursive;
}

.main-dishes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* @media only screen and (min-width: 992px) {
    .main-dishes {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }
} */

/* TODO LOOK AT THIS FOR SCREEN SIZE ADJUSTING */
/* @media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .main-dishes {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
  } */

.main-dish {
    background: lightblue;
    height: 550px;
    width: 400px;
}

.meals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 40px;
}

.meal {
    text-align: center;
    background: lightcoral;
    height: 100px;
    width: 250px;
    font-size: 40px;
}

.about-me {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.about-me div {
    /* margin: 0px 100px; */
    background: yellow;
    height: 550px;
    width: 400px;
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    
}

.footer div {
    background: rebeccapurple;
    height: 100px;
    width: 200px;
}
/* Home Page */

/* Meals Page */
.meal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.meal-header img {
    max-height: 100px;
    margin: 0 10px;
}

.meal-header p{
    font-family: Stencil Std, fantasy;
}

.row {
    /* height: 400px; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 0.5em; */
    margin: 20px 0;
    /* padding: 20px 30px 20px 30px; */
}

.recipe-card {
    height: 500px;
    width: 333px;
    object-fit: cover;
    background: red;
}
/* Meals Page */


/* Recipe Page */
.recipe-about {
    display: flex;
    justify-content: center;
    margin: 0 15%;
}

.recipe-text {
    margin-left: 30px;
    max-height: 500px;
}

.recipe-title {
    font-size: 80px;
    margin: 60px 0 0 0;
}

.recipe-desc {
    font-size: 2vw;
    line-height: 1.5;
}

.recipe-img {
    height: 550px;
    margin: 60px 0 0 0;
    border-radius: 5px;
}

.instructions-title {
    text-align: center;
    margin: 30px 0 0 0;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.instructions-text {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 40px;
}

.directions {
    max-width: 850px;
    text-align: left;
}

.directions-list {
    font-size: 30px;
}

.instructions-h2 {
    margin: 0;
    font-size: 50px;
}

.ingredients-list {
    font-size: 30px;
}

.credits {
    font-size: 40px;
    /* color: #a9a9a9; */
    text-align: center;
}

/* Recipe Page */

